@font-face {
    font-family: 'icomoon';
    src:    url('fonts/icomoon.eot?ao8wq4');
    src:    url('fonts/icomoon.eot?ao8wq4#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ao8wq4') format('truetype'),
        url('fonts/icomoon.woff?ao8wq4') format('woff'),
        url('fonts/icomoon.svg?ao8wq4#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-home:before {
    content: "\e900";
    padding-right: 5px;
}
.icon-pencil2:before {
    content: "\e901";
    padding-right: 5px;
}
.icon-book:before {
    content: "\e902";
    padding-right: 5px;
}
.icon-books:before {
    content: "\e903";
    padding-right: 5px;
}
.icon-profile:before {
    content: "\e904";
    padding-right: 5px;
}
.icon-file-text2:before {
    content: "\e905";
    padding-right: 5px;
}
.icon-folder-open:before {
    content: "\e906";
    padding-right: 5px;
}
.icon-coin-dollar:before {
    content: "\e907";
    padding-right: 5px;
}
.icon-envelop:before {
    content: "\e908";
    padding-right: 5px;
}
.icon-location2:before {
    content: "\e909";
    padding-right: 5px;
}
.icon-users:before {
    content: "\e90a";
    padding-right: 5px;
}
.icon-user-tie:before {
    content: "\e90b";
    padding-right: 5px;
}
.icon-stats-dots:before {
    content: "\e90c";
    padding-right: 5px;
}
.icon-circle-right:before {
    content: "\e90d";
    padding-right: 5px;
}
.icon-circle-left:before {
    content: "\e90e";
    padding-right: 5px;
}

a 
	color white	
nav
	display inline-block	
.Header-li
    display inline-block
    margin-left 2em
    font-size 1.4em
    border-right black 1px solid
    padding-right 6px
    transition all 1s ease
    &:hover
    	background white
    	box-shadow inset 0 0 0 3px #3a7999
    	text-decoration none !important
.Header
	position fixed
	top 0
	left 0
	width 100%
	text-align center 
	box-shadow 8px 3px 31px 3px gray
	padding 1.3em
	background-image url("../../img/fondoBarra.png")
	font-family 'Roboto', sans-serif
	&-logo
		width 5%
		margin-right 10px
	&-titulo
		display inline-block
		color white
		margin 0